@import "tailwindcss";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:"Inter",sans-serif;
  background:#fafafa;
  color:#111827;
}

.container{
  width:90%;
  max-width:1300px;
  margin:auto;
}

button{
  transition:0.3s;
}

button:hover{
  transform:translateY(-2px);
}

.page-fade{
  animation:pageFade .5s ease;
}

@keyframes pageFade{
  from{
    opacity:0;
    transform:translateY(10px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }
}